@page
@model LudoRazor.Pages.NextPlayer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>Click on the button to continue the game.</h4>

<a asp-page="/PlayGame/Index" asp-route-id="@Model.GameBoard.Id" class="btn btn-primary">Continue</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
